<ion-content>

  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input formControlName="name" placeholder="Task name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea formControlName="description" placeholder="Description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime formControlName="date" presentation="date" [value]="dateTime" displayFormat="dd-MM-yyyy" [firstDayOfWeek]="1" max="2030-12-31T23:59:59"></ion-datetime>
      </ion-item>
    </ion-list>
    <ion-button [disabled]="form.invalid" (click)="createTask()">Create project</ion-button>
  </form>
</ion-content>
