<ion-content>
  <h1>Project Page</h1>
  <ion-card>
    <ion-card-header>{{dataService.currentProject.ProjectName}}</ion-card-header>
    <p>Created by: {{dataService.currentProject.Email}}</p>
    <p>{{dataService.currentProject.Description}}</p>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="6" size-lg="4"
               *ngFor="let task of dataService.tasks">
        <ion-card>
          <ion-card-header>{{task?.TaskName}}</ion-card-header>
          <p>Description: {{task?.Description}}</p>
          <p>Due date: {{task?.DueDate}}</p>
          <p>Status: {{task?.Status}}</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="newTask()">Create Task</ion-button>
</ion-content>
